/* Titillium Web font weights: extra-light200/Light300/regular400/semi-bold600/bold700/black900 */

body {
  margin: 0;
  font-family: "Titillium Web", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  font-weight: 400;
  background-color: #F5F5F5;
}

code {
  font-family: "Titillium Web", source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* InfectedCountryList */
.title { 
  font-family: "Titillium Web", source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 40px;
  font-weight: 700;
}

.subtitle { 
  font-family: "Titillium Web", source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 30px;
  font-weight: 600;
  color: #72725A; 
}

/* InfectedCountryList */
.oneHorizontalCard {
  background-color: #EBEBEB;
}

.columnOne {
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
}

.cardDivider {
  border-right: solid #CB997C;   
}